.SearchBox {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px rgba(0,0,0,0.1);
}

input.form-control.text-search {
  width: 25em;
  margin-right: 1em;
  text-align: left;
}

input.form-control.tag-input {
  text-align: left;
}

input.form-control.small-input {
  width: 3.0em;
  margin: 0.5em;
  text-align: center;
}

select.form-control.select-input {
  width: 5.0em;
  margin: 0 0.5em;
}
