.SearchBox {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

input.form-control.text-search {
  width: 25em;
  margin-right: 1em;
}

input.form-control.small-input {
  width: 3.0em;
  margin: 0.5em;
}

select.form-control.select-input {
  width: 5.0em;
  margin: 0.5em;
}
