.App > .main-box {
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}



.LeftNav {
    width: 20vw;
    height: 90vh;
    border-right: solid 1px rgba(0,0,0,0.1);
    padding: 1em;
}

.VocabBox {
  width: 80vw;
  height: 90vh;
}
