tr.EditWord td {
  padding: 3px !important;
  background: rgba(0,0,0,0.125);
}

tr.EditWord div.form-group {
  margin-bottom: 0px !important;
}

input {
  margin: auto;
  text-align: center;
}

input.row-input {
  width: 3em;
}

input.row-input-long {
  width: 10em;
}

input.row-input-med {
  width: 5em;
}
